{% extends "chart/base.twig" %}
{% block content %}

{{ parent() }}

{% set vismeta = chart.metadata.visualize %}

<link rel="stylesheet" type="text/css" href="/static/vendor/selectize/selectize.bootstrap2.css">
<script type="text/javascript" src="/static/vendor/canvg/rgbcolor.js"></script>
<script type="text/javascript" src="/static/vendor/canvg/canvg.js"></script>
<script type="text/javascript" src="/static/vendor/chromajs/chroma.min.js"></script>
{% for vis in visualizations_deps %}
<script type="text/javascript" src="{{ vis.__static_path }}/{{ vis.id }}.js"></script>
{% endfor %}

<script type="text/javascript">
dw.backend.ready(function() {
    require(['dw/chart/visualize'], function(visualize) {
        var themesJSON = {{ themes | json | raw }},
            visJSON = {{ vis | json | raw }},
            visMetas = {};
        {% for vis in visualizations %}
            visMetas['{{ vis.id }}'] = {{ vis|json|raw }};
        {% endfor %}
        visualize.init(themesJSON, visMetas, visJSON);
    });
});
</script>

<div class="dw-create-visualize chart-editor">
    <div class="row">
        <div class="span2-5">
            {% include "chart/visualize/visualize-left.twig" %}
        </div>
        <div class="span7">

            <div>
                <div id="iframe-wrapper" style="height:500px;" >
                    <iframe src="/chart/{{ chart.id }}/preview?plain=1&amp;innersvg=1&amp;random={{ random() }}" id="iframe-vis" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen>
                    </iframe>
                </div>
            </div>

            <div id="notifications"></div>

        </div>
        <div class="span2-5">
            {% include "chart/visualize/visualize-right.twig" %}
        </div>
    </div>
</div>

{% endblock %}